<script type="application/javascript">
window.document.addEventListener("DOMContentLoaded", function () {  
  const links = document.getElementsByClassName("toc-actions")[0]?.firstChild
  const addLink = (text, url) => {
    const li = document.createElement("li")
    const a = document.createElement("a")
    a.text = text
    a.href = url
    a.className = "toc-action"
    li.innerHTML = '<i class="bi empty"></i>'
    li.appendChild(a)
    links.appendChild(li)
  }
  if (links) {
    var match = window.location.pathname.match(/([a-z-]+)\.html$/)
    var name = match ? match[1] : "einleitung"
    var url = chapters[name]
    if (url) {
      addLink("Kapitel kommentieren", url)
    }
  }
})
</script>
